---
layout: base
title: Home
---

<div class="container-fluid">

  <div class="row py-1">
    <div class="jumbotron text-center">
      <h1 class="display-4">Welcome to My Portfolio</h1>

      <p class="lead">
        Software Engineer | Command Line Enthusiast | Lifelong Learner
      </p>

      <hr class="my-4">

      <p>
        Explore my projects, read my blog, and learn more about my professional journey.
      </p>
    </div>
  </div>

  <div class="row py-1">
    <h5>
      <a class="link-dark text-decoration-none" href="/pages/projects.html">
        Recent Projects
      </a>
    </h5>
    <ul class="list-group list-group-flush">
      {% assign projects = site.data.projects %}
      {% for project in projects limit:5 %}
      <li class="list-group-item list-group-item-action py-1" style="cursor: pointer;"
        onclick="window.location.replace('{{ project.link }}')">
        <a class="fst-italic fw-semibold link-dark text-decoration-none" href="{{ project.link }}">
          {{ project.title}}
        </a>
        <p class="fw-light">
          {{ project.summary }}
        </p>
      </li>
      {% endfor %}
    </ul>
  </div>

  <hr class="my-4">

  <div class="row py-1">
    <h5>
      <a class="link-dark text-decoration-none" href="/pages/blog.html">Recent Blog Posts</a>
    </h5>
    {% assign posts = site.posts | sort: 'date' | reverse %}
    <ul class="list-group list-group-flush">
      {% for post in posts %}
      <li class="list-group-item list-group-item-action d-flex justify-content-between" style="cursor: pointer;"
        onclick="window.location.replace('{{ post.url }}')">
        <img style="height: 250px;" class="img-fluid rounded float-start" src="{{ post.img }}">
        <div class="mx-4">
          <h5>
            {{ post.title}}
          </h5>

          <p>
            {{ post.summary }}
          </p>

          <p class="text-body-secondary">
            {{ post.date | date_to_string: "ordinal", "US" }}
          </p>
        </div>
      </li>
      {% endfor %}
    </ul>

  </div>

</div>
